my-gh-businessprocess/target
my-gh-businessprocess/bin
my-gh-businessprocess/logs/*
my-gh-core/target
my-gh-core/bin
my-gh-core/target/*
my-gh-core/logs/*

my-gh-endpoint/target
my-gh-endpoint/bin
my-gh-endpoint/logs/*

my-gh-persistence/target
my-gh-persistence/bin
my-gh-persistence/logs/*

my-gh-service/target
my-gh-service/bin
my-gh-service/logs/*
my-gh/bin
my-gh/target
my-gh/gen
/bin
/target
pom.properties
.iml
.settings*
.classpath
*.project
*.springBeans
*.jasper
*.class
*.lst
*.Ds_Store