generic-core/target
generic-core/bin
generic-core/logs/*
generic-endpoint/target
generic-endpoint/bin
generic-endpoint/logs/*
generic-persistence/target
generic-persistence/bin
generic-persistence/logs/*
generic-service/target
generic-service/bin
generic-service/logs/*

generic/target
generic/gen
/target

*.iml
.settings*
.classpath
.project
.springBeans
*.jasper
*.class

.DS_Store
.DS_Store?